<p>En éste ejemplo utilizo una tabla responsive a modo de ejemplo con datos del Top 10 criptomonedas más famosas.</p>
<div class="table-responsive-sm">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ranking</th>
                <th scope="col">Nombre</th>
                <th scope="col">Símbolo</th>
                <th scope="col">Cap. de Mercado</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Bitcoin</td>
                <td>BTC</td>
                <td>$716.54B</td>
                <td>$38.289</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Ethereum</td>
                <td>ETH</td>
                <td>$274.79B</td>
                <td>$2.369</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Tether</td>
                <td>USDT</td>
                <td>$59.51B</td>
                <td>$1,00</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Cardano</td>
                <td>ADA</td>
                <td>$49.40B</td>
                <td>$1,55</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Binance Coin</td>
                <td>BNB</td>
                <td>$48.16B</td>
                <td>$313,89</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Dogecoin</td>
                <td>DOGE</td>
                <td>$44.51B</td>
                <td>$0,34</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>XRP</td>
                <td>XPR</td>
                <td>$41.76B</td>
                <td>$0,905</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Polkadot</td>
                <td>DOT</td>
                <td>$21.43B</td>
                <td>$22,80</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>SHIBA INU</td>
                <td>SHIB</td>
                <td>$2.91B</td>
                <td>$0,000007</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Litecoin</td>
                <td>LTC</td>
                <td>$12.03B</td>
                <td>$180,26</td>
            </tr>
        </tbody>
    </table>
</div>