<br>
<div class="row">
    <div class="col">
        <iframe src="https://www.youtube.com/embed/sDk1pTDPROI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
    <br>
    <div class="col">
        <h4>Todo el mundo debería saber programar de Code org (Subtitulado)</h4>
        <p>Este video de ejemplo particularmente me gustó por la importancia que tiene aprender a programar y siempre seguir adelante. El video cuenta diferentes testimonios de niños, jóvenes y profesionales, acerca de la importancia de adquirir conocimientos
            en temas de programación para el futuro desarrollo personal y profesional.
        </p>
    </div>
</div>